@import './header.scss';
@import './container.scss';
@import './home.scss';

:root {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;

  color: $_secondary-color;
  background-color: $_background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
